@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

html {
  height: 100%;
  width: 100%;
}

.header{
  min-height: 100%;
  width: 100%;
  background-color:#000000;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 0px 0px 0px 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px;
  border-color: grey;
}

nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 80px;
}

.nav-links{
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding:0.8% 1.2%;
  position: relative;
}

.nav-links ul li button.utility{
  color:white;
  background-color: black;
  font-size: 15px;
  border-radius: 15px;
  padding:  8px 20px;
  font-weight: 400;
  border: none;
}
.nav-links ul li button.register{
  color:black;
  background-color:#08FF08;
  font-size: 12px;
  border-radius: 15px;
  padding: 8px 20px;
  font-weight: 800;
  border: none;
}

body {
  background-color: #111111;
  color: white;
}

.whoarewe{
  background-image: url('img/hacker.png');
  background-size: cover;
}

h1{
  font-size: 60px;
  display: block;
  text-align:center;
  margin-bottom: 0px;
  padding-top: 7%;
  color:#08FF08;
  text-shadow: -1px 1px 3px black;
}
.text{
  font-size:31px;
  margin-left: 9%;
  margin-bottom: 85px;
  width: 75%;
  text-indent: 50px;
  font-weight: 500;
  line-height: 1.2cm;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  
}

.hashtag{
  margin-left: 35%;
  font-size:12px;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 15%, 45%, 75%, 100% {
    transform: translateY(0);
  }
  35% {
    transform: translateY(-15px);
  }
  55% {
    transform: translateY(-5px);
  }
}


#join_btn{
  height: 45px;
  width: 190px;
  border-radius: 20px;
  background-color: #08FF08;
  color: black;
  border: 0px;
  font-family: 'Quantico';
  font-size: 22px;
  margin-left: 40px;
  margin-top: 20px;
  cursor: pointer;
}

#join_btn:hover {
  background-color: black;
  color: #08FF08;
  transition: background-color 1s, color 1s;
}

/*
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
*/

.footer {
  margin-top: 60px;
  position: relative;
  width: 100%;
  background: #08FF08;
  min-height: 45px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: black;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: black;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: black;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}