html {
  height: 100%;
  width: 100%;
}

a{
  color: #08FF08; 
}

.header{
  min-height: 100%;
  width: 100%;
  background-color:#000000;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 0px 0px 0px 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px;
  border-color: grey;
}
  
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
  
.logo{
  width: 80px;
}
  
.nav-links{
  flex: 1;
  text-align: right;
}
  
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding:0.8% 1.2%;
  position: relative;
}
  
.nav-links ul li button.utility{
  color:white;
  background-color: black;
  font-size: 15px;
  border-radius: 15px;
  padding:  8px 20px;
  font-weight: 400;
  border: none;
}
.nav-links ul li button.register{
  color:black;
  background-color:#08FF08;
  font-size: 12px;
  border-radius: 15px;
  padding: 8px 20px;
  font-weight: 800;
  border: none;
}

body {
  background-color: #111111;
  color: white;
}


.events {
  font-family: "cabin";
  color: #08FF08;
  font-size: 55px;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 5px;
  text-shadow: 0px 0px 4px;
}

.event-container {
  display: flex;
  justify-content: space-between; /* This will evenly space the buttons within the container */

}

.subtitle {
  font-family: "cabin";
  color: #08FF08;
  font-size:33.3px;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 2cm;

}

.sub_txt {
  color: darkgreen;
  margin-left: 20px;
  font-size: 17px;
  font-style: italic;
  font-family: 'intel';
  text-align:center;
  padding-bottom: 10px;
  
}
  
.event_btn {
  font-family: 'intel';
  font-size: 20px;
  width: 550px;
  height:230px;
  color: black;
  border: 5px;
  font-weight: 600;
  background-color:#08FF08;
  border-color: black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 50px;
  margin-right: 50px;
  box-shadow: darkslategray 0px 8px 24px;
}
  
#button1::before {
  content: attr(data-tooltip); 
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

#button2::before{
  content: attr(data-tooltip); 
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}
  
  
.button:hover::before {
  opacity: 1;
  visibility: visible;
  }
  
  
  